.counter {
    border: 2px solid red;
    margin: 1em;
    padding: 1em;
    display: inline-block;
    width:100px;
    text-align:center;
    margin:2px;
}
.buttons {
    text-align: center;
    margin:10px;
}
button{
    margin:3px;
}